LOG_LEVEL=info

HOST=0.0.0.0
PORT=8080

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

MAILERSEND_API_TOKEN=your_mailersend_token
TWILIO_ACCOUNT_SID=your_twilio_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=your_twilio_phone_number

JWT_SECRET=
ALLOWED_ORIGINS=